/* TO-DO:
1. Set some global/root variables
2. Style header pieces to sit on either side of screen
3. Style click-able boxes, but make question boxes list items
4. Style all text elements
5. Style highscore page */

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --box-color: #f0db4f;
}

/*2. Style header pieces to sit on either side of screen*/
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header p {
    display: inline-block;
    padding: 5px 20px;
}

header div {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
}

main {
    display: flex;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p {
    padding: 5px 150px;
}

main button {
    margin-bottom: 30px;
}

#quiz {
    background-color: var(--box-color);
    line-height: 150%;
}

#highscores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
